@* this casts(?) the Tops db as a list(??) *@
@model IEnumerable<wardrobeProject_test1.Models.Tops>

@{
    ViewBag.Title = "Index";
    
}

@*CUSTOM THUMBNAIL*@


<h2>Tops</h2>


@*BOOTSTRAP THUMBNAILS*@

<div class="container" style="padding-top: 25px">
    <p>
        @Html.ActionLink("Add To Collection", "Create")
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="@Url.Content(item.Photo)" class="img-circle img-responsive img-center"  />
                    <div class="caption">
                        <h3 class="text-center">@Url.Content(item.Nickname)</h3>
                        
                        <h6 align="center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.TopsID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TopsID }) 
                          
                        </h6>
                    </div>
                </div>
            </div>
        }
       
    </div>



</div>

