<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Naked Not</title>

    <link href="@Url.Content("~/Content/2-col-portfolio.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/4-col-portfolio.css")" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/Content/landing-page.css" rel="stylesheet">
    <link href="~/Content/round-about.css" rel="stylesheet" />
    <link href="~/Content/customStyle.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        Html.RenderPartial("_HeaderNavBarPartial");
    }

   <div class="container" style="padding-top: 25px">
       
    @RenderBody()

   </div>
    















    @{
        Html.RenderPartial("_FooterPartial");
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>